@charset "utf-8";
@font-face {
     font-family: 'Nanum Pen';
     font-style: normal;
     src: url(../font/nanumpen/NanumPen.woff2) format('woff2'),
          url(../font/nanumpen/NanumPen.woff) format('woff');
}
